div#board-container {
	display: grid;
  
	grid-template-columns: 120px 1fr 1fr 1fr 120px;
	grid-template-areas: 
	". . top . ."
	". . turns . ."
	". oppDrop board . ."
	". . board . ."
	". . board selfDrop ."
	". . buttons . .";
}

div.top-bar {
	grid-area: top;

	height: 40px;
	background-color: rgba(40, 46, 56, 1);

	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;

	display: grid;

	grid-template-columns: 1fr 32px 1fr;

	color: rgba(242, 242, 242, 1);

	line-height: 40px;
	text-align: center;

	margin-bottom: 32px;
}

span.turn {
	grid-area: turns;
	height: auto;
	line-height: 40px;
	text-align: center;
	background-color: rgba(242, 242, 242, 1);
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	overflow: hidden;
	margin-bottom: 32px;
}

span.turn > span {
	height: 40px;
	display: block;
}

span.turn > button {
	width: 50%;
	height: 40px;
	background-color: rgba(230, 230, 230, 1);
	color: rgba(40, 46, 56, 1);
	margin: 0;
	display: inline-block;
}

span.turn > button.destroy,
span.turn > button.accept {
	width: 100%;
}

span.turn > button:hover {
	background-color: rgba(232, 68, 86, 1);
	color: rgba(242, 242, 242, 1);
}

/**** BOARD STYLE ***/


#board {
	grid-area: board;
	border: 1px solid rgba(42, 46, 52, 1);
	background-color: rgba(247, 218, 186, 1);
	border-collapse: collapse;
	justify-self: center;
}

.rhe {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari */
	transform: rotate(180deg);
}
  
#board.own {
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari */
	transform: rotate(180deg);
}
  
tr {
	border-top: 1px solid rgba(42, 46, 52, 0.8);
}
  
tr + tr {
	border-top: 1px solid rgb(224, 185, 127);
}
  
td {
	text-align: center;
	border-left: 1px solid rgba(42, 46, 52, 0.8);
	width: 58px;
	height: 58px;
}
  
td.active {
	background-color: rgba(232, 130, 128, 1);
}
  
td.possible {
	background-color: rgba(219, 64, 81,1);
}
  
td > span {
	cursor: default;
}
  
table img {
	cursor: default;
	width: 55px;
	height: 55px;
	display: block;
}
  
img.own {
	cursor: pointer;
}
  
img.clickable {
	cursor: pointer;
}
  
td + td {
	border-left: 1px solid #e0b97f;
}
  
div.right-area,
div.left-area {
	justify-self: center;
	width: auto;
	height: auto;
}

div.left-area {
	grid-area: oppDrop;
}

div.right-area {
	grid-area: selfDrop;
}

div.right-area > ul,
div.left-area > ul {
	width: 100%;
	border: 1px solid rgba(42, 46, 52, 0.8);
	overflow: hidden;
	background-color: rgba(247, 218, 186, 1);
}
  
div.right-area > ul > li,
div.left-area > ul > li {
	float: left;
}
  
div.right-area > ul > li > img,
div.left-area > ul > li > img {
	width: 100%;
	height: 100%;
}

div.right-area > ul.own > li > img {
	cursor: pointer;
}


/***MODAL BOX STYLE ****/
div.modal {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0, 0, 0, 0.4);
	z-index: 9999;
}
  
div.modal > div.modal-box {
	position: relative;
	top: 50%;
	left: 50%;
	width: 192px;
	height: auto;
	margin-top: -88px;
	margin-left: -112px;
	background-color: rgba(56, 62, 72, 1);
	z-index: 9999;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 16px;
}
  
div.modal > div.modal-box > span {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 32px;
	text-align: center;
	display: block;
	line-height: 32px;
	color: rgba(240, 240, 240, 1);
}
  
div.modal > div.modal-box > div {
	position: relative;
	top: 0;
	left: 0;
	width: 64px;
	height: 64px;
	text-align: center;
	display: inline-block;
}
  
div.modal > div.modal-box > div > img {
	width: 64px;
	height: 64px;
}
  
div.modal > div.modal-box > ul {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 48px;
	margin: 0;
	padding: 0;
}
  
div.modal > div.modal-box > ul > li {
	position: relative;
	top: 0;
	left: 0;
	width: 50%;
	height: 100%;
	float: left;
	text-align: center;
}

div.modal > div.modal-box > button.close {
	width: 100%;
	height: 32px;
	border: none;
	outline: none;
	font-size: 14px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: rgba(242, 242, 242, 1);
	cursor: pointer;
	margin-top: 8px;
}
  
div.modal li button {
	width: 90%;
	height: 32px;
	/* background-color: rgba(216, 82, 80, 1); */
	border: none;
	outline: none;
	font-size: 14px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	color: rgba(242, 242, 242, 1);
	cursor: pointer;
	margin-top: 8px;
}
  
div.modal li:first-child button {
	background-color: rgba(56, 62, 72, 1);
	font-size: 14px;
	color: rgba(242, 242, 242, 1);
}

div.modal li:first-child button:hover {
	background-color: rgba(35, 177, 108, 1);
}

div.modal > div.modal-box > div.end {
	width: 96px;
	height: 96px;
	margin: 8px auto;
	float: none;
	display: block;
}
  
div.modal > div.modal-box > div.end > img {
	width: 96px;
	height: 96px;
}

div.bottom-bar {
	grid-area: buttons;
	display: grid;

	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-areas:
	". buttonLeft buttonRight .";

	margin: 32px 0;
}

div.bottom-bar > button:first-child {
	grid-area: buttonLeft;
	height: 40px;

	background-color: rgba(230, 230, 230, 1);
	color: rgba(40, 46, 56, 1);

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.bottom-bar > button:last-child {

	background-color: rgba(230, 230, 230, 1);
	color: rgba(40, 46, 56, 1);

	grid-area: buttonRight;
	height: 40px;

	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}

div.bottom-bar button:hover {
	background-color: rgba(232, 68, 86, 1);
	color: rgba(242, 242, 242, 1);
}

@media only screen and (max-width: 600px) {
	div#board-container {	  
		grid-template-columns: 16px 1fr 1fr 1fr 16px;
		grid-template-areas: 
		"top top top top top"
		". turns turns turns ."
		". oppDrop oppDrop oppDrop ."
		". board board board ."
		". selfDrop selfDrop selfDrop ."
		". buttons buttons buttons .";
	}

	div.right-area > ul,
	div.left-area > ul {
		width: 100%;
		height: 35px;
	}

	div.right-area > ul > li,
	div.left-area > ul > li {
		width: 38px;
		height: 38px;
	}

	td {
		min-width: 38px;
		height: 38px;
	}

    table img {
		width: 35px;
		height: 35px;
	}

	div.right-area {
		margin-top: 16px;
		justify-self: initial;
	}

	div.left-area {
		margin-bottom: 16px;
		justify-self: initial;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

	div#board-container {	 
		grid-template-columns: 16px 1fr 1fr 1fr 16px;
		grid-template-areas: 
		". top top top ."
		". turns turns turns ."
		". . oppDrop . ."
		". . board . ."
		". . selfDrop . ."
		". buttons buttons buttons .";
	}

	div.right-area {
		margin-top: 16px;
		justify-self: initial;
	}

	div.left-area {
		margin-bottom: 16px;
		justify-self: initial;
	}

	div.right-area > ul,
	div.left-area > ul {
		width: 100%;
		height: 45px;
	}

	div.right-area > ul > li,
	div.left-area > ul > li {
		width: 48px;
		height: 48px;
	}
	
	td {
		min-width: 48px;
		height: 48px;
	}

    table img {
		width: 45px;
		height: 45px;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	div#board-container {
		grid-template-columns: 72px 1fr 1fr 1fr 72px;
	}

	div#board-container {	  
		grid-template-areas: 
		". . top . ."
		". . turns . ."
		". oppDrop board . ."
		". . board . ."
		". . board selfDrop ."
		". . buttons . .";
	}

	div.right-area > ul,
	div.left-area > ul {
		width: 225px;
		height: 180px;
	}

	div.right-area > ul > li,
	div.left-area > ul > li {
		width: 48px;
		height: 48px;
	}

	div.right-area {
		margin-bottom: 0;
		justify-self: center;
	}

	div.left-area {
		margin-top: 0;
		justify-self: center;
	}

	td {
		min-width: 48px;
		height: 48px;
	}

    table img {
		width: 45px;
		height: 45px;
	}
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	div#board-container {
		grid-template-columns: 96px 1fr 1fr 1fr 96px;
	}

	div.right-area > ul,
	div.left-area > ul {
		width: 275px;
		height: 220px;
	}

	div.right-area > ul > li,
	div.left-area > ul > li {
		width: 58px;
		height: 58px;
	}

	td {
		min-width: 58px;
		height: 58px;
	}

    table img {
		width: 55px;
		height: 55px;
	}

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1500px) {
	div#board-container {
		grid-template-columns: 120px 1fr 1fr 1fr 120px;
	}

	div.right-area > ul,
	div.left-area > ul {
		width: 325px;
		height: 260px;
	}

	div.right-area > ul > li,
	div.left-area > ul > li {
		width: 68px;
		height: 68px;
	}

	td {
		min-width: 68px;
		height: 68px;
	}

    table img {
		width: 65px;
		height: 65px;
    }
}